<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBoBSsRdiec_IoxFMyfjvORpR0VmFWio1U</string>
	<key>GCM_SENDER_ID</key>
	<string>44382695843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.newsfeed.newsapp</string>
	<key>PROJECT_ID</key>
	<string>newsfeed-5e22a</string>
	<key>STORAGE_BUCKET</key>
	<string>newsfeed-5e22a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:44382695843:ios:93d04e71c86ce1facbea16</string>
</dict>
</plist>